<h1>Chela's Blog</h1>
<p>This is my blog where I am going to write about anything that is on my mind.</p>
<p>
<%= image_tag("create.jpeg") %>
</p>
<h2>Key Features</h2>
<div class="feature">
<h3>Responsive Design</h3>
<p>
<%= image_tag("responsive-design.jpeg") %>
</p>
<p>Enjoy a seamless reading experience on any device.</p>
</div>
<div class="feature">
<h3>User Authentication</h3>
<p>
<%= image_tag("authentication.jpeg") %>
</p>
<p>Create an account to personalize your blog experience.</p>
</div>
<div class="feature">
<h3>Comments and Interactivity</h3>
<p>
<%= image_tag("comments.jpeg") %>
</p>
<p>Engage with other readers and share your thoughts.</p>
</div>
<section id="about">
  <div class="container">
    <h2>About Chela's Blog</h2>
    <p>Chela's Blog was inspired by a passion for storytelling and a desire to create a platform where people can share their stories. Started as a Portfolio Project for Holberton School, this blog aims to provide a space for creative expression and meaningful conversations.</p>
    <div class="team">
      <h3>Meet the Team</h3>
      <ul>
        <li><a href="https://www.linkedin.com/in/dorcas-chela/">Chela's LinkedIn</a></li>
        <li><a href="https://github.com/dadaruto">Chela's GitHub</a></li>
        <li><a href="https://twitter.com/chela_ruto">Chela's Twitter</a></li>
      </ul>
    </div>
    <div class="github">
      <h3>GitHub Repository</h3>

      <p>Check out the code for Chela's Blog on <a href="https://github.com/dadaruto/chela_blog">GitHub</a>.</p>
    </div>
  </div>
</section>

